<!DOCTYPE html>
<div class = "dipas-gfi-content">
    <% _.each(gfiContent[0], function(value, key) { %>
        <% if (key === "Thema") { %>
        <div class="dipas-gfi-icon"><img src="<%= iconPath %>"></div>
        <div class = "dipas-gfi-thema"><%= value %></div>
        <% }%>
    <% });%>
    <% _.each(gfiContent[0], function(value, key) { %>
        <% if (key === "Name") { %>
        <div class = "dipas-gfi-name"><%= value %></div>
        <% }%>
    <% });%>
    <% _.each(gfiContent[0], function(value, key) { %>
        <% if (key === "Description") { %>
        <div class = "dipas-gfi-description"><%= value %></div>
        <% }%>
    <% });%>
</div>
