<!DOCTYPE html>
<div class="layer-settings">
    <span class="">
        <span class="transparency">
            <span class="text">Transparenz:</span>
            <span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="bottom" title="Transparenz erhöhen"></span>
            <span class="badge"> <%= transparency + '%' %></span>
            <span class="glyphicon glyphicon-minus-sign" data-toggle="tooltip" data-placement="bottom" title="Transparenz verringern"></span>
        </span>
        <span class="remove-layer">
            <span class="text" data-toggle="tooltip" data-placement="bottom">Layer entfernen</span>
        </span>
        <span class="arrows pull-right">
            <span class="glyphicon glyphicon-arrow-up" data-toggle="tooltip" data-placement="bottom" title="Ebene nach oben"></span>
            <span class="glyphicon glyphicon-arrow-down" data-toggle="tooltip" data-placement="bottom" title="Ebene nach unten"></span>
        </span>
    </span>
</div>
