<!DOCTYPE html>
<% _.each(recommendedList, function (hit, index) { %>
    <% if (hit.model !== undefined && hit.type === "nodeLayer" && hit.metaName !== null) { %>
        <% if (hit.glyphicon !== undefined) { %>
            <li id="<%= hit.id %>" class="list-group-item hit" data-toggle="tooltip" data-placement="bottom" title="<%= hit.metaName %>"><p id="searchInputLi"><span class="glyphicon <%= hit.glyphicon %>"></span><%= hit.metaName %><small><%= hit.type %></small></p></li>
        <% } else { %>
            <li id="<%= hit.id %>" class="list-group-item hit" data-toggle="tooltip" data-placement="bottom" title="<%= hit.metaName %>"><img src="<%= hit.imageSrc %>"><span><%= hit.metaName %></span><small><%= hit.type %></small></li>
        <% }
     }
     else { %>
        <% if (hit.glyphicon !== undefined) { %>
            <li id="<%= hit.id %>" class="list-group-item hit" data-toggle="tooltip" data-placement="bottom" title="<%= hit.metaName %>"><p id="searchInputLi"><span class="glyphicon <%= hit.glyphicon %>"></span><%= hit.name %><small><%= hit.type %></small></p></li>
        <% } else { %>
            <li id="<%= hit.id %>" class="list-group-item hit" data-toggle="tooltip" data-placement="bottom" title="<%= _.isUndefined(hit.metaName)? hit.name: hit.metaName %>"><img src="<%= hit.imageSrc %>"><span><%= _.isUndefined(hit.shortName)? hit.name : hit.shortName %></span><small><%= _.isUndefined(hit.additionalInfo)? hit.type: hit.additionalInfo %></small></li>
        <% } %>
    <% } %>
<% }); %>
<% if (hitList.length >= recommendedListLength && hitList.length !== 0) { %>
    <li class="list-group-item results"><div><span>alle Ergebnisse anzeigen</span><span class="glyphicon glyphicon-play-circle"></span></div></li>
    <div id="search-funnel"></div>
    <div id="search-right-funnel-corner"></div>
<% } else if (hitList.length < recommendedListLength && hitList.length !== 0) { %>
    <li class="list-group-item results"></li>
    <div id="search-funnel"></div>
    <div id="search-right-funnel-corner"></div>
<% } %>
