<!DOCTYPE html>
<div class="header">
    <p class="pull-right">
        <span class="glyphicon glyphicon-remove" title="Schließen"></span>
    </p>
    <p>
        <span>Informationen und Legende</span>
    </p>
</div>
<div class="content">
    <h4 class="subtitle" title="<%= title %>"><%= title %></h4>
    <div><%= abstractText %></div>
    <% if (!_.isNull(metaURL)) { %>
    <% _.each(metaURL, function (url) { %>
        <br>
        <p class="pull-right"><a href="<%= url %>" target="_blank">weitere Metadaten</a></p>
    <% }); %>
    <% } %>
    <% if (datePublication !== null) { %>
        <p>Publikation / Erstellung: <%= datePublication %></p>
    <% } %>
    <% if (dateRevision !== null) { %>
        <p>Letzte Änderung: <%= dateRevision %></p>
    <% } %>
    <% if (periodicity !== null) { %>
        <p>Periodizität: <%= periodicity %></p>
    <% } %>
        <hr>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#legende">Legende</a></li>
            <% if (!_.isNull(downloadLinks)) { %>
            <li><a data-toggle="tab" href="#LayerInfoDataDownload">Datensatz herunterladen</a></li>
            <% } %>
            <% if (!_.isNull(url)) { %>
            <li><a data-toggle="tab" href="#url"><%= typ %>-Adresse</a></li>
            <% } %>
        </ul>
        <br>
        <div class="tab-content">
            <div id="legende" class="tab-pane fade in active">
                <p>
                    <% if (_.isArray(legend.legend) && (_.isEmpty(legend.legend) || legend.legend[0].img === "")) {
                        print ("<p>Legende wird erst beim aktivieren des Layers geladen</p>");                    
                    }
                    else if (_.isNull(legend.legend)) {
                        print ("<p>Keine Legende vorhanden</p>");   
                    }
                    else {
                        _.each(legend.legend, function (legend) {
                            print (legend.html);
                        });
                    } %>
                </p>
            </div>
            <div id="LayerInfoDataDownload" class="tab-pane fade">
                <ul class="list-unstyled">
                    <% _.each(downloadLinks, function (downloadLink) { %>
                        <li><a href="<%= downloadLink[1] %>" target="_blank"><%= downloadLink[0] %> </a><li>
                    <% }); %>
                </ul>
            </div>
            <div id="url" class="tab-pane fade">
                <ul class="list-unstyled">
                <li><a href="<%= url %>?SERVICE=<%= typ %>&REQUEST=GetCapabilities" target="_blank"><%= url %> </a><li>
                </ul>
            </div>
        </div>
</div>
